@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


.nav {
  background-color: #561a1a;
  overflow: hidden;
}

a {
  color: #980505;
}

h1{
  font-family: 'Helvetica', sans-serif;
  font-size: 50px;
  font-weight: 700; 
  color: #671515;
}

h2 {
  font-family: 'Helvetica', sans-serif;
  color: #831212;
}

h3 {
  font-family: 'Helvetica', sans-serif;
  color: #671515;
}

h4 {
  font-family: 'Helvetica', sans-serif;
  color: #671515;
}
h5 {
  font-family: 'Helvetica', sans-serif;
}

.nav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.nav a:hover {
  background-color: white;
  color: black;
}

body {
  background-color: white;
  font-family: 'Helvetica';
  margin: 0;
}

.section {
  margin-left: 15vw;
  margin-right: 15vw;
  margin-top: 5vw;
}

.margin-bottom {
  margin-bottom: 50px;
}


.center-content {
  display: flex;              
  justify-content: center;    
  align-items: center;        
}