@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
:root {
  --main-red: #550315;
}


.nav {
  background-color: var(--main-red);
  overflow: hidden;
  border-bottom: white 3px solid;
}

a {
  color: #980505;
}

.img-round {
  border-radius: 0px;
  margin: 20px;
}

h1{
  font-family: 'Georgia';
  font-size: 55px;
  line-height: 1.3;
  font-weight: 800; 
  color: var( --main-red);
}

h2 {
  font-size: 35px;
  line-height: 1.3;
  font-family: 'Georgia', sans-serif;
  color: var( --main-red);
}

h3 {
  font-size: 26px;
  line-height: 1.4;
  font-family: 'Georgia', sans-serif;
  color: var( --main-red);
}

h4 {
  font-size: 23px; 
  line-height: 1.4;
  font-family: 'Georgia', sans-serif;
  color: var( --main-red);
}

h5 {
  font-size: 22px; 
  line-height: 1.3; 
  font-family: 'Georgia', sans-serif;
  color: var( --main-red);
}

p {
  font-family: 'Helvetica';
  font-size: 18px; 
  line-height: 1.6; 
}

li {
  font-family: 'Helvetica';
  font-size: 18px; 
  line-height: 1.6; 
}

.nav a {
  float: left;
  color: white;
  text-align: center;
  padding: 30px 20px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Georgia';
}

.nav a:hover {
  background-color: white;
  color: black;
}

body {
  background-color: white;
  font-family: 'Helvetica';
  margin: 0;
}

.section {
  margin-left: 12vw;
  margin-right: 12vw;
  margin-top: 5vw;
}

.text-section {
  margin-left: 7vw;
  margin-right: 7vw;
  margin-top: 0vw;
}

.margin-bottom {
  margin-bottom: 50px;
}


.center-content {
  display: flex;              
  justify-content: center;    
  align-items: center;        
}